$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

@mixin h2 {
  font: {
  family: Georgia;
  size: 4.4rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 5.8rem;
}

@mixin h3 {
  font: {
  family: Georgia;
  size: 3.5rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
}

@mixin h4 {
  font: {
  family: Georgia;
  size: 2.0rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
}

@mixin h5 {
  font: {
  family: Georgia;
  size: 1.5rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 1.7rem;
  letter-spacing: 0.087rem;
}

@mixin paragraph-l {
  font: {
  family: Arial;
  size: 1.5rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
}

@mixin logo_title {
  font: {
  family: Georgia;
  size: 3.2rem;  
  weight: 400;
  }
  font-style: normal;
  line-height: 3.55rem;
  letter-spacing: 0.2rem; 
}

@mixin logo_subtitle {
  font: {
    family: Arial;
    size: 1.3rem;  
    weight: 400;
  }
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em; 
}




* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
  font-size: 10px;
}

.main, .header, .footer {
  max-width: 1280px;
  margin: 0 auto;  
}

.header {
  background-color: $color-light-xl;
  padding: 3rem 0rem;

  .wrapper {  
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.logo {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.logo__title {
  @include logo_title;
  color: $color-dark-l;
}

.logo__subtitle {
  margin-top: 1rem;
  margin-left: 0.4rem;
  @include logo_subtitle;
  color: $color-dark-3xl;
}

.menu {
  flex: 0 0 443px;
  display: flex;
  align-items: center;

  .list {
    flex: 0 1 100%;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    list-style-type: none;
  }
  .list__item {
    @include paragraph-l;
    color: $color-dark-l; 
  }
  .list__item:hover {
    color: $color-dark-3xl;
  } 
  .list__item:nth-child(2) {
    color: $color-dark-3xl;    
    border-bottom: solid $color-primary 0.3rem;
  }  
  .list__link {
    text-decoration: none;
    color: inherit;
  }     
}

.button:active, 
.button:focus {
  outline: none;
  border: none;
  cursor: pointer;  
}

.button {
  height: 52px;
  padding: 13px 44px 16px 44px;
  border: 2px solid $color-primary;
  background-color: $color-primary;
  border-radius: 10rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.092rem;
  color: $color-dark-3xl;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: $color-primary-light;
  border: 2px solid $color-primary-light;
  cursor: pointer;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.pets {
  background-color: $color-light-l;
  padding: 8rem 0rem 10rem;    

  .wrapper { 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;      
  }
}

.pets__title {
  flex: 0 1 400px;
  text-align: center;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 4.5rem; 
  @include h3;
  color: $color-dark-l;
}

.pets__cards {
  flex: 0 1 100%;
  margin-bottom: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex: 0 0 270px;
  margin: 1.525rem 0rem;
  border-radius: 1rem;
  text-align: center;
  background-color: $color-light-s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  background-color: $color-light-xl;  
}

.card__image {
  margin-bottom: 2.7rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card__title {
  @include h4;
  color: $color-dark-l;
  margin-bottom: 3rem;
}

.button_card-button {
  background-color: transparent;
  margin-bottom: 3rem;
}

.pets__buttons-container {
  flex: 0 1 340px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-button {
  width: 52px;
  height: 52px;
  text-align: center;
  padding-bottom: 4px;
  border: solid $color-primary 2px;
  border-radius: 50%;
  background-color: $color-light-l;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.round-button:active, 
.round-button:focus {
  outline: none;
  border: none;
  cursor: pointer;  
}

.round-button:hover {
  border: solid $color-primary-light 2px;
  background-color: $color-primary-light;
  cursor: pointer;  
}

.round-button:disabled {
  border: solid $color-dark-s 2px;
  color: $color-dark-s;  
}

.round-button:disabled:hover {
  border: solid $color-dark-s 2px;
  background-color: transparent;
  cursor: default; 
}

.round-button_text {
  @include h4;
  color: $color-dark-3xl;
}

.round-button_colored {  
  background-color: $color-primary;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.footer {
  background: url(/assets/noise_transparent.png), 
              radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
              #211F20;
  padding: 4rem 0rem 0rem;    

  .wrapper { 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
  }
}

.contacts, .location {
  flex: 0 1 auto;
  padding: 1.6rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
  align-items: flex-start;  
}

.location {
  margin-right: 4.8rem;
  .footer__title {
    margin-bottom: 3.4rem;   
  }
}

.footer__image {
  flex: 0 1 auto;
  height: 310px;
}

.footer__title {
  @include h3;
  color: $color-light-xl;
  margin-bottom: 4.3rem;
  flex: 0 1 280px;
}

.contacts__item{
  list-style-type: none;

  span {
    display: inline-block;
    vertical-align: middle;      
    width: 260px;
    margin-left: 1.5rem;
  }
}

.contacts__item span {
  margin-left: 1.5rem; 
}

.contacts__item:first-child {
  margin-bottom: 4.3rem;
}

.location {  
  .contacts__item:first-child {
    margin-bottom: 3.3rem;
  }
  .contacts__item:last-child {
    margin-bottom: 0rem;
  }
}

.contacts__link {
   text-decoration: none;
   @include h4;
   color: $color-primary;
   cursor: pointer;      
}

.contacts__icon {
   fill: $color-primary;
   vertical-align: middle;
}