* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body, html {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-scroll {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

.no-scroll_modal {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main, .header, .footer {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 28;
  display: none;
  background-color: rgba(41, 41, 41, 0.6);
}

.overlay_active {
  display: block;
}

.header {
  width: 100vw;
  max-width: 100%;
  min-height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  padding: 3rem 0rem;
  background-color: #FFFFFF;
}
.header .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header_pos-absolute {
  position: absolute;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}

.logo_hidden {
  opacity: 0;
}

.logo__title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.55rem;
  letter-spacing: 0.2rem;
  color: #545454;
}

.logo__subtitle {
  margin-top: 1rem;
  margin-left: 0.4rem;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.menu {
  flex: 0 0 443px;
  display: flex;
  align-items: center;
}
.menu .list {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}
.menu .list__item {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #545454;
}
.menu .list__item:hover:first-child, .menu .list__item:hover:nth-child(2) {
  color: #292929;
}
.menu .list__item:hover:first-child .list__link, .menu .list__item:hover:nth-child(2) .list__link {
  cursor: pointer;
}
.menu .list__item:nth-child(2) {
  color: #292929;
  border-bottom: solid #F1CDB3 0.3rem;
}
.menu .list__link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.hamburger-menu {
  display: none;
}

.burger-button {
  display: none;
}

.button:active,
.button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  height: 52px;
  padding: 13px 44px 16px 44px;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  border-radius: 10rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.092rem;
  color: #292929;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.pets {
  background-color: #F6F6F6;
  padding: 20rem 0rem 10rem;
}
.pets .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.pets__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.pets__title {
  flex: 0 1 400px;
  text-align: center;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 4.5rem;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

.pets__cards {
  flex: 0 1 100%;
  margin-bottom: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex: 0 0 270px;
  margin: 1.525rem 0rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #FAFAFA;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  background-color: #FFFFFF;
}

.card__image {
  margin-bottom: 2.7rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card__title {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #545454;
  margin-bottom: 3rem;
}

.button_card-button {
  background-color: transparent;
  margin-bottom: 3rem;
}

.pets__buttons-container {
  flex: 0 1 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round-button {
  width: 52px;
  height: 52px;
  text-align: center;
  padding-bottom: 4px;
  border: solid #F1CDB3 2px;
  border-radius: 50%;
  background-color: #F6F6F6;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.round-button:active,
.round-button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.round-button:hover {
  border: solid #FDDCC4 2px;
  background-color: #FDDCC4;
  cursor: pointer;
}

.round-button:disabled {
  border: solid #CDCDCD 2px;
  color: #CDCDCD;
}

.round-button:disabled:hover {
  border: solid #CDCDCD 2px;
  background-color: transparent;
  cursor: default;
}

.round-button_text {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #292929;
}

.round-button_colored {
  background-color: #F1CDB3;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer {
  background: url(../../assets/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding: 4rem 0rem 0rem;
}
.footer .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts, .location {
  flex: 0 1 auto;
  padding: 1.6rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.location {
  margin-right: 4.8rem;
}
.location .footer__title {
  margin-bottom: 3.4rem;
}

.footer__image {
  flex: 0 1 auto;
  height: 310px;
}

.footer__title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
  margin-bottom: 4.3rem;
  flex: 0 1 280px;
}

.contacts__item {
  list-style-type: none;
}
.contacts__item span {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin-left: 1.5rem;
}

.contacts__item span {
  margin-left: 1.5rem;
}

.contacts__item:first-child {
  margin-bottom: 4.3rem;
}

.location .contacts__item:first-child {
  margin-bottom: 3.3rem;
}
.location .contacts__item:last-child {
  margin-bottom: 0rem;
}

.contacts__link {
  text-decoration: none;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #F1CDB3;
  cursor: pointer;
}

.contacts__icon {
  fill: #F1CDB3;
  vertical-align: middle;
}

.modal {
  display: none;
  width: 900px;
  height: 500px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F6F6F6;
  border-radius: 1rem;
  z-index: 29;
}

.modal_active {
  display: flex;
}

.pet__image {
  width: 500px;
  height: 500px;
  background-position: 0rem -4rem;
  border-radius: 1rem 0rem 0rem 1rem;
}

.pet__content {
  flex: 0 1 44.44%;
  height: 500px;
  align-content: stretch;
  padding: 4.5rem 2rem 8.8rem 2.9rem;
}
.pet__content h3 {
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: black;
  margin-bottom: 1rem;
}
.pet__content h4 {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: black;
  margin-bottom: 4rem;
}
.pet__content p {
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
  letter-spacing: 0.087rem;
  letter-spacing: 0.1rem;
  color: black;
  margin-bottom: 4.2rem;
}
.pet__content .pet__description {
  margin-left: 1.5rem;
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
  letter-spacing: 0.087rem;
  letter-spacing: 0.1rem;
}
.pet__content .pet__description li {
  color: #F1CDB3;
}
.pet__content .pet__description li span:first-child {
  font-weight: 700;
}
.pet__content .pet__description li span {
  color: black;
}
.pet__content .pet__description li:not(:last-child) {
  margin-bottom: 1.1rem;
}

.modal-round-button {
  position: absolute;
  top: -58px;
  right: -42px;
  background-color: transparent;
}
.modal-round-button svg {
  margin-top: 0.6rem;
}

.overlay_active:hover ~ .modal .modal-round-button {
  border: solid #FDDCC4 2px;
  background-color: #FDDCC4;
}

@media only all and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 3rem 0rem;
  }
  .header .wrapper {
    margin: 0 3rem;
  }

  .pets {
    padding: 20rem 0rem 7.5rem;
  }
  .pets .wrapper {
    margin: 0 3em;
  }

  .pets__content {
    flex: 0 1 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .pets__title {
    margin-left: 0.2rem;
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
  }

  .pets__cards {
    flex: 0 1 580px;
    height: 1380px;
    overflow: hidden;
    margin-bottom: 4rem;
  }

  .card {
    margin: 1.5rem 0rem;
  }

  .footer {
    padding: 3.1rem 0rem 0rem;
  }
  .footer .wrapper {
    margin: 0 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts {
    flex: 0 1 280px;
    padding: 0rem 0rem;
    margin-left: 0.4rem;
  }

  .location {
    flex: 0 1 302px;
    padding: 0rem 0rem;
    margin-right: 0.4rem;
  }

  .footer__image {
    flex: 0 1 100%;
    margin-top: 6.5rem;
    text-align: center;
  }

  .contacts__item span {
    width: 200px;
  }

  .location .contacts__item span {
    width: 260px;
    margin-left: 1.3rem;
  }

  .location .footer__title {
    margin-bottom: 3.3rem;
  }
  .location .contacts__item:first-child {
    margin-bottom: 3.4rem;
  }

  .modal {
    width: 630px;
    height: 350px;
    background-color: #FAFAFA;
  }

  .pet__image {
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: contain;
  }

  .pet__content {
    height: 350px;
    padding: 1rem 0.9rem 3.7rem 0.9rem;
  }
  .pet__content h4 {
    margin-bottom: 2rem;
  }
  .pet__content p {
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2rem;
  }
  .pet__content .pet__description li:not(:last-child) {
    margin-bottom: 0.65rem;
  }

  .modal-round-button {
    top: -52px;
  }
}
@media only all and (max-width: 767px) {
  .header .wrapper {
    margin: 0 1rem;
    align-items: center;
  }

  .menu.menu__1280px {
    display: none;
  }

  .blackout-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    background-color: rgba(41, 41, 41, 0.6);
  }

  .blackout-background_active {
    display: block;
  }

  .hamburger-menu {
    width: 320px;
    height: 100vh;
    padding: 3rem 1rem 0rem;
    display: block;
    position: absolute;
    top: 0;
    right: -320px;
    z-index: 9;
    background-color: #FFFFFF;
    transition: transform 0.4s ease;
  }
  .hamburger-menu .logo {
    width: 30rem;
    text-align: left;
    position: absolute;
    left: 1rem;
    top: 3rem;
    z-index: 3;
  }
  .hamburger-menu .list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 0px;
  }
  .hamburger-menu .list__item {
    font-family: Arial;
    font-size: 3.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 4.8rem;
    letter-spacing: 0rem;
    color: #545454;
    margin-top: 4.3rem;
  }
  .hamburger-menu .list__item:last-child {
    margin-bottom: 4.1rem;
  }
  .hamburger-menu .list__item:hover:first-child, .hamburger-menu .list__item:hover:nth-child(2) {
    color: #292929;
  }
  .hamburger-menu .list__item:hover:first-child .list__link, .hamburger-menu .list__item:hover:nth-child(2) .list__link {
    cursor: pointer;
  }
  .hamburger-menu .list__item:nth-child(2) {
    color: #292929;
    border-bottom: solid #F1CDB3 0.3rem;
  }
  .hamburger-menu .list__link {
    text-decoration: none;
    color: inherit;
    cursor: default;
  }

  .hamburger-menu_active {
    transform: translateX(-320px);
  }

  .burger-button {
    display: block;
    margin-right: 4.3rem;
    z-index: 19;
    transition: transform 0.2s ease-in 0.2s;
  }

  .burger-button_active {
    transform: rotate(-90deg);
  }

  .burger-icon {
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s linear 0.23s;
    z-index: 3;
  }

  .burger-icon span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: #292929;
    margin-bottom: 8px;
  }

  .burger-icon span:last-child {
    margin-bottom: 0px;
  }

  .pets {
    padding: 16.2rem 0rem 4.2rem;
  }
  .pets .wrapper {
    margin: 0 1rem;
  }

  .pets__content {
    flex: 0 1 320px;
  }

  .pets__buttons-container {
    flex: 0 1 300px;
  }

  .pets__title {
    flex: 0 0 300px;
    margin-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 4.2rem;
    font-family: Georgia;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
  }

  .pets__cards {
    flex: 0 1 500px;
    height: 1365px;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 4.2rem;
  }

  .card {
    margin: 0rem 0rem 3.13rem;
  }

  .footer {
    padding: 3rem 0rem 0rem;
  }
  .footer .wrapper {
    margin: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts {
    flex: 0 0 100%;
    justify-content: center;
    padding: 0rem 0rem;
    margin-left: 0rem;
    margin-bottom: 4rem;
  }

  .location {
    flex: 1 0 300px;
    justify-content: center;
    padding: 0rem 0rem;
    margin-right: 0rem;
  }

  .footer__image {
    flex: 1 1 100%;
    height: 269px;
    margin-top: 4rem;
    text-align: center;
  }

  .footer__image img {
    height: 269px;
  }

  .footer__title {
    text-align: center;
    font-family: Georgia;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
  }

  .footer-list {
    flex: 0 0 100%;
  }

  .contacts__item {
    text-align: center;
  }
  .contacts__item span {
    margin-left: 1.5rem;
    width: auto;
  }

  .location .contacts__item span {
    text-align: left;
    width: 258px;
    margin-left: 1.35rem;
  }

  .location .footer__title {
    margin-bottom: 4rem;
  }
  .location .contacts__item:first-child {
    margin-bottom: 4rem;
  }

  .modal {
    width: 240px;
    max-height: calc(100% - 104px);
    height: auto;
    background-color: #FAFAFA;
  }

  .pet__image {
    display: none;
  }

  .pet__content {
    flex: 0 1 100%;
    height: auto;
    align-content: center;
    padding: 1rem;
  }
  .pet__content h3 {
    text-align: center;
  }
  .pet__content h4 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .pet__content p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.4rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2.4rem;
  }
  .pet__content .pet__description li:not(:last-child) {
    margin-bottom: 0.65rem;
  }

  .modal-round-button {
    top: -52px;
    right: -30px;
  }
}
@media only all and (max-width: 319px) {
  .pets .wrapper {
    min-width: 320px;
    display: block;
    margin: 0;
    padding: 0 1rem;
  }

  .footer .wrapper {
    min-width: 320px;
    display: block;
    margin: 0;
    padding: 0 1rem;
  }

  modal {
    display: block;
    min-width: 240px;
  }
}

/*# sourceMappingURL=style.css.map */
