@import "roboto.css";

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #9bc9f8;
}

body, html {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-scroll {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

main, header, footer {
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2rem;
  padding: 3rem 2rem;
}

.title {
  font-family: 'Lora', serif;
  font-size: 7.0rem;
  font-style: normal;  
  font-weight: 700;
  color: #4f59e2;
  text-shadow: 0 10px 9px #7d8181,0 -3px 1px #fff; 
}

.title::first-letter {
  color: #f1dd26;
}

.burger-button img {
  width: 40px;
  height: 40px;
  transition: transform 0.25s ease-in;
}

.burger-button:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.burger-button_hidden {
  visibility: hidden;
}

.hamburger-menu {
  width: 320px;
  height: 100vh;
  padding: 1rem 0;
  display: block;
  position: absolute;
  top: 0;
  left: -320px;
  z-index: 9;
  overflow-y: auto;
  background-color: #4f59e2;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu .list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  list-style: none;
  font-size: 0px;    
}

.list__item {
  font-family: Roboto;
  font-size: 2.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.8rem;
  letter-spacing: 0rem;
  color: #CDCDCD;
  margin-top: 2rem;
  padding: 0.2rem 0.2rem;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;  
}

.list__item_main {  
  font-size: 3.0rem;
  line-height: 3.6rem;
  font-weight: 600;
  margin: 0rem;
}

.list__item:hover {
  border: dashed 2px #f1dd26;
  border-radius: 5px;
  cursor: pointer;
}

.list__item_active {
  color: #f1dd26;
  border: dashed 2px #f1dd26;
  border-radius: 5px;
}

.list__icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.list__link {
  cursor: pointer;
  vertical-align: middle;
}

.hamburger-menu_active {
  transform: translateX(320px);
}

.nav-button {
  position: absolute;
  top:0;
  right:0;  
  margin-top: 1rem;
  margin-right: 1rem;
  visibility: hidden;
}

.nav-button_active {
  visibility: visible;
}

.nav-button_active .first {
  transform: rotate(45deg);
  top: 10px;
  background-color: #f1dd26;
}

.nav-button_active .second {
  opacity: 0;
}

.nav-button_active .third {
  transform: rotate(-45deg);
  top: -10px;
  background-color: #f1dd26;
}

.nav-icon {  
  background-color: transparent;
  cursor: pointer;  
}

.nav-icon span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #f1dd26;
  margin-bottom: 7px;
  position: relative;
  transition: transform 0.1s linear;
}

.nav-icon span:last-child {
  margin-bottom: 0px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display: none;
  background-color: transparent;
}

.overlay_active {
  display: block;
}


.toggle-container {
  position: relative;
  top: -2.2rem;
}

.toggle {
  position: absolute;
  top:0;
  right:0;
  display: inline-block;
  width: 120px;
  height: 45px;
  padding: 3px;  
  vertical-align: top;
  border-radius: 5px;  
  background-image: linear-gradient(to top,#4f59e2,#989ef3 30px, #ffffff);
  cursor: pointer;
}

.toggle input {
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
}

.toggle__placeholder {  
  position: relative;
  display: block;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #e66465, #9198e5);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.12), inset 0 0 2px rgba(0,0,0,.15);
  border-radius: inherit;   
  transition: .15s ease-out;
  cursor:pointer;
}

.toggle__placeholder:before {
  position: absolute;
  top: 0;  
  right: 15px;
  content: attr(data-off);
  color: #ffffff;
  text-shadow: 0 1px hsla(0,0%,100%,.5);
  transition: inherit;
}

.toggle__placeholder:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: attr(data-on);
  color: #ffffff;
  text-shadow: 0 1px rgba(0,0,0,.2);
  opacity: 0;
  transition: inherit;
}

.toggle__handle {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);  
  background-image: linear-gradient(180deg,#fff 10%,#f1dd26);  
  transition: left .15s ease-out;
}  

.toggle__handle::before {
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0,0,0,.02);  
  background-image: linear-gradient(180deg,#eee,#fff);
}

.toggle input:checked~.toggle__placeholder {
  background: linear-gradient(to right, #e6d364, #91e598);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.15), inset 0 0 3px rgba(0,0,0,.2);
}

.toggle input:checked~.toggle__placeholder:before {
  opacity: 0;
}

.toggle input:checked~.toggle__placeholder:after {
  opacity: 1;
}

.toggle input:checked~.toggle__handle {
  left: 80px;
  box-shadow: -1px 1px 5px rgba(0,0,0,.2);
}

.section {
  width: 300px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background: linear-gradient(to bottom, #e66465, #9198e5 40%, #ffffff 40%);
  color: #212529;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.section_play-mode {
  background: linear-gradient(to bottom, #e6d364, #91e598 40%, #ffffff 40%);
}

.section:hover {
  box-shadow:  0 10px 20px rgba(0,0,0,.4);
  cursor: pointer;
}

.section__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid #fff; 
  margin: 10px auto;
}

.section__image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.section__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.star-container {
  width: 750px;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;  
  height: 4rem;  
  overflow-x: hidden;
  margin-bottom: 1rem;
}

.star {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  background-image: url('../assets/icons/star.svg');
  background-position: center;
  background-size: 4rem;
}

.star_error {
  filter: grayscale(1);
}

.card {
  width: 300px;
  height: 280px;
  position: relative;
  perspective: 1000px;  
  color: #212529;
  border-radius: 10px;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  transition: 0.3s;   
}

.card_play-mode .front .card__image {
  height: 100%;
  border-radius: 1rem 1rem;  
}

.card_play-mode .front .card__image img {
  height: 100%;
  border-radius: 1rem 1rem;
}

.card_play-mode .front .card__word {
  display: none;
}

.card_play-mode .front .card__button {
  display: none;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  transition: 1s;
  backface-visibility: hidden;
}

.front {  
  background: linear-gradient(to left, #e66465, #9198e5);
}

.back {
  background: linear-gradient(to left, #e6d364, #91e598);
  transform: rotateY(180deg);
}

.front:hover {
  box-shadow:  0 10px 20px rgba(0,0,0,.4);
  cursor: pointer;
}

.back:hover {
  box-shadow:  0 10px 20px rgba(0,0,0,.4);
}

.front_active {
  transform: rotateY(180deg);  
}

.front_inactive {
  opacity: 0.5;
  pointer-events: none;
}

.front_inactive:hover {
  box-shadow:  none;
  cursor: default;
}

.back_active {
  transform: rotateY(360deg);
}

.card__image {
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;   
}

.card__image img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover; 
}

.card__word {
  margin-top: 15px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.card__button {
  width: 3rem;
  height: 3rem;
  background-image: url('../assets/icons/rotation_button.svg');
  background-size: 3rem;  
  position: absolute;
  right: 15px;
  bottom: 15px;
  transition: transform 0.3s ease-in;    
}

.card__button:hover {
  filter: hue-rotate(180deg);
  transform: scale(1.07);
}

.button-container {
  flex: 0 1 100%;
  height: 6rem;
  text-align: center;
  font-size: 17.5px;
}

.game-button {
  position: relative;	
	border: solid .125em transparent;
	padding: 0;
  width: 8.5em;
  height: 2em;	
	color: #fff;	
	font: 900 1.5em roboto, cursive;
	filter: contrast(.8);
	transition: .2s ease-out;
	cursor: pointer;
	border-radius: 0.5em;
	box-shadow: inset 0 1px 1px #9c9c9c;
	background:		
		linear-gradient(#fcf271, #5ccf19) content-box, 
		linear-gradient(#f8f52f, #49aa23) border-box;
		/*linear-gradient(#4e4e4e, #040404) content-box, 
		linear-gradient(#292929, #010101) border-box;*/
}

.game-button_hidden {
  display:  none;
}

.game-button_repeat {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/repeat.svg');
  background-size: 5.3rem;
  border-radius: 50%;
  box-shadow: none;		 
}

button:hover, button:focus {
	outline: none;
	filter: none;
}

button:active {
  transform: translateY(.125em);
}

.result {
  width: 400px;
  height: 400px;
  background-image: url('../assets/icons/happy.svg');
  background-size: 100%;
  background-position: center;
}

.result_failure {
  background-image: url('../assets/icons/sad.svg');
}

.congrats {
  width: 100%;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 2.4rem;
  font-style: normal;  
  font-weight: 400;
  color:#212529;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #212529;
  padding: 3rem 2rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #212529;
}

.logo {
  text-align: center;
}

.logo img {
  width: 150px;
  height: 100px;
}

.author {
  margin-left: 3rem;
  text-align: center;
}

.author a {
  color: #316396;
  text-decoration: none;
  margin: 0 0.5rem;
}

@media only all and (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }
    
  .title {
    order: 1;
    text-align: center;
    flex: 0 1 100%;  
    font-size: 5.4rem;
    margin-bottom: 2rem; 
  }  
  
  .burger-button {
   order: 2;
  }

  .toggle-container {
    order: 3;  
  }

  .star-container {
    width: 450px;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    flex: 0 1 100%;
  }
  .author {
    margin-left: 0rem;  
  }  
}

@media only all and (max-width: 500px) {
  .star-container {
    width: 300px;
  }
  
  main {
    padding: 2rem 1rem;
  }

  .result {
    width: 300px;
    height: 300px; 
  }
}