* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper_start-screen-wrapper {
  background: url(/assets/noise_transparent.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-screen-container {
  height: 908px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  height: 60px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  color: #F1CDB3;
}

.logo__subtitle {
  margin-left: 4px;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.menu {
  flex: 0 0 443px;
  display: flex;
  align-items: center;
}
.menu .list {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}
.menu .list__item {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #CDCDCD;
}
.menu .list__item:hover {
  color: #FAFAFA;
}
.menu .list__item:first-child {
  color: #FAFAFA;
  border-bottom: solid #F1CDB3 0.35rem;
}
.menu .list__link {
  text-decoration: none;
  color: inherit;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hero {
  height: 728px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  height: 321px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.hero__title {
  flex: 0 1 321px;
  margin-bottom: 42px;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 5.7rem;
  color: #FFFFFF;
}

.hero__text {
  flex: 0 1 460px;
  margin-bottom: 38px;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #CDCDCD;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  height: 52px;
  padding: 15px 45px 15px 45px;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  border-radius: 10rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.08rem;
  color: #292929;
}

.button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.wrapper_about-wrapper {
  height: 588px;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
