* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

.main, .header, .footer {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  padding: 6rem 0rem;
}
.header .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  color: #F1CDB3;
}

.logo__subtitle {
  margin-left: 4px;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.menu {
  flex: 0 0 443px;
  display: flex;
  align-items: center;
}
.menu .list {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}
.menu .list__item {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #CDCDCD;
}
.menu .list__item:hover {
  color: #FAFAFA;
}
.menu .list__item:first-child {
  color: #FAFAFA;
  border-bottom: solid #F1CDB3 0.3rem;
}
.menu .list__link {
  text-decoration: none;
  color: inherit;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.hero {
  background: url(/assets/noise_transparent@2x.png) repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 18rem;
}
.hero .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero__content {
  flex: 0 1 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__image {
  flex: 0 1 50%;
  height: 728px;
}

.hero__title {
  flex: 0 1 321px;
  margin-top: 16.3rem;
  margin-bottom: 4.1rem;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 5.8rem;
  color: #FFFFFF;
}

.hero__text {
  flex: 0 1 460px;
  margin-bottom: 4.1rem;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #CDCDCD;
}

.button:active,
.button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  height: 52px;
  padding: 13px 44px 16px 44px;
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
  border-radius: 10rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.092rem;
  color: #292929;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.about {
  background-color: #FFFFFF;
  padding: 8rem 0rem 10rem;
}
.about .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image {
  flex: 0 1 49.5%;
  height: 408px;
  text-align: center;
}
.about__image img {
  display: inline-block;
  margin-left: 5.6rem;
}

.about__content {
  flex: 0 1 50.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0.1rem;
}

.about__title {
  flex: 0 1 370px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
  margin-top: 1.5rem;
  margin-bottom: 2.4rem;
}

.about__text {
  flex: 0 1 430px;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #4C4C4C;
  margin-bottom: 2.5rem;
}

.about__text:last-child {
  margin-bottom: 1.5rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.pets {
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem;
}
.pets .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.pets__title {
  flex: 0 1 400px;
  text-align: center;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 6rem;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

.slider {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex: 0 0 270px;
  border-radius: 1rem;
  text-align: center;
  background-color: #FAFAFA;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card:hover {
  background-color: #FFFFFF;
}

.card:nth-child(2), .card:nth-child(3) {
  margin-right: 3.7rem;
}

.card__image {
  margin-bottom: 2.7rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.card__title {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #545454;
  margin-bottom: 3rem;
}

.button_card-button {
  background-color: transparent;
  margin-bottom: 3rem;
}

.round-button {
  width: 52px;
  height: 52px;
  text-align: center;
  padding-bottom: 4px;
  border: solid #F1CDB3 2px;
  border-radius: 50%;
  background-color: #F6F6F6;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.round-button:active,
.round-button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.round-button:hover {
  border: solid #FDDCC4 2px;
  background-color: #FDDCC4;
  cursor: pointer;
}

.round-button:disabled {
  border: solid #CDCDCD 2px;
}
.round-button:disabled .arrow-icon {
  fill: #CDCDCD;
}

.arrow-icon {
  fill: #292929;
}

.arrow-icon_mirror {
  transform: rotate(180deg);
}

.button_pets-button {
  margin-top: 6rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.help {
  background-color: #FFFFFF;
  padding: 8rem 0rem 10rem;
}
.help .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.help .list {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  list-style-type: none;
  padding: 0.5rem 2.7rem 0rem;
}
.help .list_4 {
  padding: 0rem 11.1rem;
}
.help .list_4 .list__item:first-child .list__icon {
  margin-top: 4px;
}
.help .list_4 .list__item:nth-child(3) .list__icon {
  margin-top: 5px;
}
.help .list__item {
  flex: 1 1 auto;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5rem;
}
.help .list__item .list__icon {
  fill: #F1CDB3;
}
.help .list__item .list__text {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #545454;
  margin-bottom: 0.1rem;
}

.help__title {
  flex: 0 1 310px;
  text-align: center;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.donation {
  background-color: #FFFFFF;
  padding: 8rem 0rem 10rem;
}
.donation .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__image {
  flex: 0 1 56.4%;
  text-align: right;
}

.donation__image img {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 0.3rem;
}

.donation__content {
  flex: 0 1 43.6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0.2rem;
}

.donation__title {
  flex: 0 1 300px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #545454;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

.donation__subtitle {
  flex: 0 1 307px;
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
  letter-spacing: 0.087rem;
  color: #545454;
  margin-bottom: 2rem;
}

.donation__link {
  flex: 0 1 349px;
  display: block;
  height: 43px;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #F1CDB3;
  text-decoration: none;
}

.donation__link:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.donation__link svg {
  vertical-align: middle;
  fill: #292929;
}

.donation__link span {
  vertical-align: middle;
  margin-left: 13px;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #545454;
}

.donation__text {
  flex: 0 1 380px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer {
  background: url(/assets/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding: 4rem 0rem 0rem;
}
.footer .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.contacts {
  flex: 0 1 auto;
  padding: 1.6rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.contacts .footer__title {
  flex: 0 1 280px;
}

.location {
  flex: 0 1 auto;
  padding: 1.6rem 0rem 0rem;
  margin-right: 4.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.location .footer__title {
  flex: 0 1 270px;
}

.footer__image {
  flex: 0 1 auto;
  height: 310px;
}

.footer__title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
  margin-bottom: -1.8rem;
}

.contacts__item {
  list-style-type: none;
}
.contacts__item span {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin-left: 1.5rem;
}

.location .contacts__item span {
  margin-left: 1.2rem;
}

.contacts__item:first-child {
  margin-bottom: 4.3rem;
}

.location .contacts__item:first-child {
  margin-bottom: 3.2rem;
}
.location .contacts__item:last-child {
  margin-bottom: 0.9rem;
}

.contacts__link {
  text-decoration: none;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.3rem;
  letter-spacing: 0.115rem;
  color: #F1CDB3;
  cursor: pointer;
}

.contacts__icon {
  fill: #F1CDB3;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
