:root {
  --z-keyboard: 21;
}

.keyboard {
  position: fixed;
  transform:translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 900px;  
  padding: 5px;
  background-color: #d9d9d9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
  z-index: var(--z-keyboard);
}

.keyboard_hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keyboard__key {
  height: 45px;
  width: 8%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: solid 1.5px #969696;  
  color: #252525;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  vertical-align: top;
  padding: 2px 7px;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.sub {
  flex: 0 1 100%;
  text-align: left;  
  color: #636363;
  font-size: 1.4rem;
}

.letter {
  flex: 0 1 100%;
  text-align: left;
}

.letter_big {
  font-size: 1.725rem;
}

.keyboard__key:active {
  background: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px 5px #e2edee;
}

.keyboard__key_wide {
  width: 14%;
  vertical-align: center;
}

.keyboard__key_wide .letter {
  text-align: center;
}

.keyboard__key_extra-wide {
  width: 36%;
  vertical-align: center;
  max-width: 500px;
}

.keyboard__key_extra-wide .letter {
  text-align: center;
}

.keyboard__key_activatable::after {
  content: '';
  top: 5px;
  right: 5px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key_active::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #08ff00;
  box-shadow:0 0 2px 1px #e2edee;
  border-radius: 50%;
}

.keyboard__key_dark {
  background: rgba(0, 0, 0, 0.25);
}

.keyboard__key_pressed {
  background: rgba(0, 0, 0, 0.12);
  box-shadow:0 0 10px 5px #e2edee;
}

.keyboard__key_colored {
  background: #8a7b7f;  
}

@media only all and (max-width: 650px) {
  .keyboard__key {        
    margin: 1px;
    width: 8%;   
  }

  .keyboard__key_wide {
    width: 14%;  
  }

  .keyboard__key_extra-wide {
    width: 36%;  
  }
}

@media only all and (max-width: 500px) {
  .keyboard {
    width: 500px;
  }
  
  textarea {
    width: 98%;
  }
  
}